/**
 * Descrição: Estilização da página inicial da TERRA CLUBE, assim como suas internas.
 * Developer: Giovanni Gustavo
 */

/** ************************************************************************* */
/** ****************************** INICIO BODY ****************************** */
/** ************************************************************************* */
@font-face {
    font-family: "Roboto Condensed";
    src: url('./../font/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: "Cabin";
    src: url('./../font/Cabin-Regular.ttf');
}
body {
    background: #f1f1f1;
}

/* *********************************************************************** */
/* *************************** INICIO DO FOOTER ************************** */
/* *********************************************************************** */
footer#body-footer {
    font-family: "Cabin";
    background: #0E7874;
    margin-top: 100px;     
}